[submodule "wp-content/themes/sciserver"]
	path = wp-content/themes/sciserver
	url= git@github.com:sciserver/SciServer-WordPress-Theme.git 
[submodule "wp-content/plugins/idies-update-tracker"]
	path = wp-content/plugins/idies-update-tracker
	url = git@bitbucket.org:idies/idies-update-tracker.git
[submodule "login-portal-2"]
	path = login-portal-2
	url = git@github.com:idies/sciserver-sso-portal.git
