[submodule "wp-content/themes/sciserver"]
	path = wp-content/themes/sciserver
	url= git@github.com:sciserver/SciServer-WordPress-Theme.git 
[submodule "wp-content/plugins/idies-update-tracker"]
	path = wp-content/plugins/idies-update-tracker
	url = git@bitbucket.org:idies/idies-update-tracker.git
[submodule "tickets"]
	path = tickets
	url = git@github.com:sciserver/SciServer-Tickets-Website.git
